.footer {
    width: 100%;
    padding: 2rem 0;
    background: #080808;
    text-align: center;
    color: #ccc;
    font-size: 0.95rem;
    border-top: 1px solid #222;
}

.footer-links {
    margin-top: 0.7rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.footer-links a {
    color: #ffcc66;
    text-decoration: none;
    transition: 0.2s;
}

.footer-links a:hover {
    opacity: 0.7;
}