#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
/* .logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
} */

body > div:last-child {
  margin-bottom: 2em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
